.Hero {
  & {
    color: var(--color-cool-grey-10);
    background: var(--gradient-blue-vivid-1);
    min-height: 100vh;

    display: flex;
  }

  &__content {
    align-self: center;
    flex: 0 0 64.9rem;
    margin: 0 6.1rem 0 10rem;
  }

  &__title {
    width: 55rem;
    font-size: 5rem;
    padding-bottom: 2rem;
  }

  &__desc {
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  &__img {
    height: 48rem;
    margin-right: 5rem;
    position: relative;
    z-index: 10;

    align-self: center;
    flex: 0 0 58rem;
  }

  &__btnContainer {
    margin-top: 3rem;

    .Btn:first-child {
      margin-right: 3rem;
    }
  }

  &__bottomGradient {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 27.9rem;
  }
}
