@import '../assets/sass/mixins.scss';

.Hero {
  color: var(--color-cool-grey-10);
  background: var(--gradient-blue-vivid-1);
  min-height: 95vh;
  display: flex;
  flex-wrap: wrap;

  @include respond(tabland) {
    min-height: 100vh;
  }

  &__content {
    align-self: center;
    margin: 0 2rem;

    @include respond(tabport) {
      margin: 0 5rem;
    }

    @include respond(tabland) {
      flex: 0 0 64.9rem;
      margin: 0 6.1rem 0 10rem;
    }
  }

  &__title {
    font-size: 5rem;
    padding-bottom: 2rem;
    max-width: 55rem;

    @include respond(tabport) {
      max-width: 90rem;
    }

    @include respond(tabland) {
      max-width: 55rem;
    }
  }

  &__desc {
    font-size: 2.4rem;
    padding-top: 4rem;
  }

  &__img {
    display: none;

    @include respond(tabland) {
      display: inline-block;
      height: 48rem;
      margin-right: 5rem;
      position: relative;
      z-index: 10;

      align-self: center;
      flex: 0 0 58rem;
    }
  }

  &__btnContainer {
    margin-top: 3rem;

    .Btn:first-child {
      margin-right: 3rem;
    }
  }

  &__bottomGradient {
    display: none;

    @include respond(tabport) {
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 27.9rem;
    }
  }
}
