@import './assets/sass/mixins.scss';
@import './assets/sass/variables.scss';

///////////////////
/////// FONT
@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/ProximaNova-Regular.eot');
  src: url('./assets/fonts/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('./assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

///////////////////
/////// BASE
* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  font-size: 44%;

  @include respond(tabport) {
    font-size: 50%;
  }

  @include respond(tabland) {
    font-size: 55%;
  }

  @include respond(desktop) {
    font-size: 62.5%;
  }

  @include respond(bigdesktop) {
    font-size: 70%;
  }
}

body {
  font-family: 'Proxima Nova', sans-serif;
  position: relative;
  font-weight: 400;
  color: var(--color-cool-grey-6);
  background: var(--color-cool-grey-10);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  &,
  &:visited {
    text-decoration: none;
    color: var(--color-cool-grey-10);
  }

  &:hover,
  &:active {
    color: var(--color-cool-grey-9);
  }
}
