///////////////////
/////// CSS VARS

:root {
  --color-cool-grey-6: #3e4c59;
  --color-cool-grey-7: #9aa5b1;
  --color-cool-grey-9: #e4e7eb;
  --color-cool-grey-10: #f5f7fa;

  --color-cyan-vivid-4: #0fb5ba;

  --color-orange-vivid-6: #f9703e;

  --color-blue-vivid-3: #03449e;
  --color-blue-vivid-4: #0552b5;
  --color-blue-vivid-6: #2186eb;
  --color-blue-vivid-7: #47a3f3;

  --gradient-blue-vivid-1: linear-gradient(
    180deg,
    var(--color-blue-vivid-4) 49.17%,
    var(--color-blue-vivid-7) 100%
  );

  --shadow-btn-1: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --shadow-btn-2: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  --shadow-card-1: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  --shadow-card-2: 0 3rem 6rem rgba(0, 0, 0, 0.25);

  --line: 1px solid var(--color-cool-grey-10);
}

///////////////////
/////// SASS VARS

$bp-tabland: 60em; // 600px
$bp-tabport: 90em; // 900px
$bp-normal: 120em; // 1200px
$bp-bigdesk: 180em; // 1800px

///////////////////
/////// FONT

@font-face {
  font-family: 'Proxima Nova Bd';
  src: url('./assets/fonts/ProximaNova-Semibold.eot');
  src: url('./assets/fonts/ProximaNova-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('./assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold')
      format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('./assets/fonts/ProximaNova-Regular.eot');
  src: url('./assets/fonts/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('./assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('./assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('./assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('./assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}

///////////////////
/////// BASE

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
}

* {
  &,
  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

body {
  font-family: 'Proxima Nova Bd', sans-serif;
  position: relative;
  font-weight: 600;
  color: var(--color-cool-grey-6);
  background: var(--color-cool-grey-10);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  &,
  &:visited {
    text-decoration: none;
    color: var(--color-cool-grey-10);
  }

  &:hover,
  &:active {
    color: var(--color-cool-grey-9);
  }
}
