@import '../assets/sass/mixins.scss';

.Experience {
  background: var(--color-blue-vivid-7);
  position: relative;
  padding: 5rem 2rem;

  @include respond(tabport) {
    padding: 6rem;
  }

  @include respond(tabland) {
    padding: 7rem 5rem;
  }

  @include respond(desktop) {
    padding: 10rem 15rem;
  }

  @include respond(bigdesktop) {
    padding: 12rem 17rem;
  }

  &__phone {
    display: none;

    @include respond(tabland) {
      display: block;
      position: absolute;
      top: 6rem;
      left: 15%;
      max-width: 26rem;
    }

    @include respond(desktop) {
      top: 7.1rem;
      max-width: 28rem;
    }

    @include respond(bigdesktop) {
      top: 10rem;
      left: 20%;
      max-width: 100%;
    }
  }

  &__content {
    text-align: center;
    padding-top: 2rem;

    @include respond(tabland) {
      text-align: left;
      margin-left: 45%;
      max-width: 60rem;
    }

    @include respond(desktop) {
      margin-left: 42%;
      max-width: 100%;
    }

    @include respond(bigdesktop) {
      margin-left: 40%;
      max-width: 100%;
    }
  }

  &__title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: var(--color-cool-grey-10);

    @include respond(tabport) {
      text-align: center;
    }

    @include respond(tabland) {
      text-align: left;
      max-width: 37.5rem;
    }
  }

  .Bar {
    margin: 0 auto;
    @include respond(tabland) {
      margin: 0;
    }
  }

  &__text {
    text-align: left;
    line-height: 2.9rem;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;

    @include respond(tabland) {
      text-align: left;
    }
  }

  &__sub-text {
    text-align: center;
    line-height: 2.6rem;
    font-size: 1.5rem;
    margin-top: 2.5rem;

    @include respond(tabland) {
      text-align: left;
    }
  }
}
