@import '../assets/sass/mixins.scss';

.Hero {
  color: var(--color-cool-grey-10);
  background: var(--gradient-blue-vivid-1);
  position: relative;
  min-height: 95vh;
  display: flex;

  @include respond(desktop) {
    min-height: 100vh;
  }

  &__content {
    align-self: center;
    margin: 0 2rem;
    position: relative;
    z-index: 10;

    @include respond(tabport) {
      margin: 0 4rem;
    }

    @include respond(tabland) {
      margin: 0 1rem 0 4rem;
      flex: 1;
    }

    @include respond(desktop) {
      margin: 0 2rem 0 7%;
    }

    @include respond(bigdesktop) {
      margin: 0 2rem 0 10%;
    }
  }

  &__title {
    font-size: 4.5rem;
    padding-bottom: 2rem;
    max-width: 55rem;

    @include respond(tabport) {
      max-width: 90rem;
    }

    @include respond(tabland) {
      max-width: 55rem;
    }
  }

  &__desc {
    font-size: 2rem;
    padding-top: 4rem;
  }

  &__img {
    display: none;

    @include respond(tabland) {
      display: block;
      margin-right: 4rem;
      position: relative;
      z-index: 10;

      align-self: center;
      flex: 1;
    }

    @include respond(desktop) {
      margin-right: 7%;
    }

    @include respond(bigdesktop) {
      margin-right: 10%;
    }
  }

  &__btnContainer {
    margin-top: 3rem;

    .Btn:first-child {
      margin-right: 3rem;
    }
  }

  &__bottomGradient {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
  }
}
