@import '../assets/sass/mixins.scss';

.Integrate {
  padding: 5rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond(tabport) {
    padding: 6rem;
  }

  @include respond(tabland) {
    padding: 7rem 5rem;
  }

  @include respond(desktop) {
    padding: 9rem 0 7rem 0;
  }

  @include respond(bigdesktop) {
    padding: 14rem 0 7rem 0;
  }

  &__title {
    margin-bottom: 4rem;
    font-size: 4rem;
    max-width: 67.4rem;
    color: var(--color-blue-vivid-6);

    @include respond(tabland) {
      margin-top: 10.4rem;
      margin-bottom: 4rem;
      max-width: 67.4rem;
    }
  }

  &__text {
    font-size: 1.8rem;
    max-width: 80.2rem;
    padding-bottom: 3rem;
  }

  &__sub-text {
    font-size: 1.5rem;
    padding-bottom: 1.5rem;

    @include respond(tabland) {
      padding-bottom: 5rem;
    }
  }

  &__logos {
    max-width: 87.4rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &__logo-box {
    flex-basis: 15.1rem;
    height: 12.5rem;
    margin-bottom: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(tabland) {
      border-right: 1px solid var(--color-cool-grey-8);

      &:nth-child(5n) {
        border-right: none;
      }
    }

    @include respond(bigdesktop) {
      flex-basis: 14.7rem;
    }
  }
}
