:root {
  --color-cool-grey-6: #3e4c59;
  --color-cool-grey-7: #9aa5b1;
  --color-cool-grey-8: #cbd2d9;
  --color-cool-grey-9: #e4e7eb;
  --color-cool-grey-10: #f5f7fa;

  --color-cyan-vivid-4: #0fb5ba;

  --color-orange-vivid-6: #f9703e;

  --color-blue-vivid-3: #03449e;
  --color-blue-vivid-4: #0552b5;
  --color-blue-vivid-6: #2186eb;
  --color-blue-vivid-7: #47a3f3;

  --gradient-blue-vivid-1: linear-gradient(
    180deg,
    var(--color-blue-vivid-4) 49.17%,
    var(--color-blue-vivid-7) 100%
  );

  --shadow-btn-1: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  --shadow-btn-2: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  --shadow-card-1: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  --shadow-card-2: 0 3rem 6rem rgba(0, 0, 0, 0.25);

  --line: 1px solid var(--color-cool-grey-10);
}
